h1, h2, h3, h4, h5, h6 {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    padding-left: 30px;
}

h2 {
    font-size: 28px;
    padding-left: 40px;
}

h3 {
    width: 200px;
    width: 100%;
}



p.hex-paragraph {
    color: rgba(255,255,255,0.7);
    padding: 10px;
    font-size: 26px;
    transition: 0.15s ease-in;
}

header {
    background: rgb(4,14,39);
    background: radial-gradient(circle, rgba(4,14,39,1) 0%, rgba(82,96,134,1) 25%, rgba(82,96,134,1) 75%, rgba(4,14,39,1) 100%);
    border-bottom: 25px solid white;
}


nav {
    background-color: #526086;
    margin: 0 auto;
    width: 560px;
    display: flex;
}
  
.hexagon {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #040E27;
    opacity: 0.9;
    clip-path: polygon(50% 5%, 90% 33%, 90% 67%, 50% 95%, 10% 67%, 10% 33%);
    margin-bottom: 150px;
    transition: 0.6s ease-in-out;
}

.hexagon:hover {
    opacity: 0.6;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

#hex1 {
    position: absolute;
    top: 10px;
}

#hex2 {
    position: absolute;
    top: 135px;
    margin-left: 80px;
}

#hex3 {
    position: absolute;
    top: 10px;
    margin-left: 160px;
}

#hex4 {
    position: absolute;
    top: 135px;
    margin-left: 240px;
}

#hex5 {
    position: relative;
    top: 10px;
    margin-left: 320px;
}

.hexagon:hover >p.hex-paragraph {
    font-size: 30px;
    transition: 0.05s ease-in;
}

.hexagon:active >p.hex-paragraph {
    color: rgba(255,255,255,1);
    transition: 0.05s ease-in;
}

main {
    background-image: url("img/hexa.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #526086;
    background-blend-mode:multiply;
    
    display: flex;
    justify-content: center;
    
}

.test {
    width: 60%;
    min-width: 28em;
    padding: 0px 10px;
}

#test1 {
    background-color: white;
    display: block;
}

#test2 {
    background-color: white;
    display: none;
}

#test3 {
    background-color: white;
    display: none;
}

#test4 {
    background-color: white;
    display: none;
}

#test5 {
    background-color: white;
    display: none;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-text {
    width: 50%;
}

@media only screen and (max-width: 1100px) {
    #about-text {
        width: 98%;
    }
}

#kalinho {
    width: 20em;
}

.project {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 30px;
}

.project-card {
    border: 2px solid #040E27;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 24em;
    min-width: 23em;
}

.project-pic {
    width: 75px;
    height: 75px;
    padding: 10px;
    margin-top: 7px;
}

.project-text {
    width: 250px;
}

.skills {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 30px;
}

.skills-card {
    border: 2px solid #040E27;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25em;
}

p.contact-text {
    padding-left: 40px;
}

#logo-box {
    margin: 30px 30px;
}

.logos {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}